body
{
	margin: 0;
	padding: 0;
	color: #555;
	font: normal 10pt Arial,Helvetica,sans-serif;
	background: #EFEFEF;
}

#page
{
	margin-top: 0px;
	margin-bottom: 5px;
	background: white;
	border: 1px solid #C9E0ED;
}

#header
{
        background: url("header.png") repeat-x scroll 0 0 transparent;
        height: 56px;
        min-width: 900px;
        padding: 0 30px;
	margin: 0;
	padding: 0;
/*	border-top: 3px solid #C9E0ED;*/
       
}

#content
{
padding: 5px;
margin-left: 200px;
margin-right: 15px;
margin-bottom: 5px;
border-right: 10px solid transparent;
border-left: 10px solid transparent;    
}

#sidebar
{
	padding: 20px 20px 20px 0;
}

#footer
{
	padding: 10px;
	margin: 10px 20px;
	font-size: 0.8em;
	text-align: center;
	border-top: 1px solid #C9E0ED;
/*        position: relative;*/
}

#logo
{
	padding: 10px 20px;
	font-size: 200%;
        
}

#mainmenu
{
	background:white url(bg.gif) repeat-x left top;
}

#mainmenu ul
{
	padding:6px 20px 5px 20px;
	margin:0px;
}

#mainmenu ul li
{
	display: inline;
}

#mainmenu ul li a
{
	color:#ffffff;
	background-color:transparent;
	font-size:12px;
	font-weight:bold;
	text-decoration:none;
	padding:5px 8px;
}

#mainmenu ul li a:hover, #mainmenu ul li.active a
{
	color: #6399cd;
	background-color:#EFF4FA;
	text-decoration:none;
}

div.flash-error, div.flash-notice, div.flash-success
{
	padding:.8em;
	margin-bottom:1em;
	border:2px solid #ddd;
}

div.flash-error
{
	background:#FBE3E4;
	color:#8a1f11;
	border-color:#FBC2C4;
}

div.flash-notice
{
	background:#FFF6BF;
	color:#514721;
	border-color:#FFD324;
}

div.flash-success
{
	background:#E6EFC2;
	color:#264409;
	border-color:#C6D880;
}

div.flash-error a
{
	color:#8a1f11;
}

div.flash-notice a
{
	color:#514721;
}

div.flash-success a
{
	color:#264409;
}

div.form .rememberMe label
{
	display: inline;
}

div.view
{
	padding: 10px;
	margin: 10px 0;
	border: 1px solid #C9E0ED;
}

div.breadcrumbs
{
	font-size: 0.9em;
	padding: 5px 20px;
}

div.breadcrumbs span
{
	font-weight: bold;
}

div.search-form
{
	padding: 10px;
	margin: 10px 0;
	background: #eee;
}

.portlet
{

}

.portlet-decoration
{
	padding: 3px 8px;
	background: #B7D6E7;
	border-left: 5px solid #6FACCF;
}

.portlet-title
{
	font-size: 12px;
	font-weight: bold;
	padding: 0;
	margin: 0;
	color: #298dcd;
}

.portlet-content
{
	font-size:0.9em;
	margin: 0 0 15px 0;
	padding: 5px 8px;
	background:#EFFDFF;
}

.portlet-content ul
{
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
	margin: 0;
	padding: 0;
}

.portlet-content li
{
	padding: 2px 0 4px 0px;
}

.operations
{
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.operations li
{
	padding-bottom: 2px;
}

.operations li a
{
	font: bold 12px Arial;
	color: #0066A4;
	display: block;
	padding: 2px 0 2px 8px;
	line-height: 15px;
	text-decoration: none;
}

.operations li a:visited
{
	color: #0066A4;
}

.operations li a:hover
{
	background: #80CFFF;
}
 
 
/*box*/
.box > .heading {
    background: url("../images/box.png") repeat-x scroll 0 0 transparent;
    border: 1px solid #DBDBDB;
    border-radius: 7px 7px 0 0;
    height: 38px;
    padding-left: 7px;
    padding-right: 7px;
}
.box > .heading h1 {
    color: #003A88;
    float: left;
    font-size: 14px;
    margin: 0;
    padding: 10px 0 0;
   vertical-align: middle;
   padding-left: 5px;
}
.box > .content {
    border-bottom: 1px solid #CCCCCC;
    border-left: 1px solid #CCCCCC;
    border-right: 1px solid #CCCCCC;
    min-height: 300px;
    overflow: auto;
    padding: 10px;
}
/*button*/
a.button, .list a.button {
    background: none repeat scroll 0 0 #003A88;
    border-radius: 10px 10px 10px 10px;
    color: #FFFFFF;
    display: inline-block;
    padding: 5px 15px;
    text-decoration: none;
}
a, a:visited {
    color: #003366;
    cursor: pointer;
    text-decoration: underline;
}
/*layout css*/
#column_left {
float: left;
width: 180px;
margin-right: 10px;
clear: left;
margin-left: 10px;
}
#column_left a, a:visited {
color: #696969;
}
#column_right {
float: right;
width: 380px;
margin-left: 10px;
clear: right;
margin-right: 10px;
}

/*admin module menu*/
.navigation {
        background:white url(bg.gif) repeat-x left top;
        /*padding: 0px;*/
        padding:1px 1px 30px 5px;
        margin: 0px;
        list-style-type:none;
        text-align: left;       
}
.navigation ul {
        padding:0px;
        margin: 3px 0px 0px 0px;        
}
.navigation ul a  {
        color:#ffffff;
        background-color:transparent;

        margin: 0px 4px 0px 0px;
        /* background-color: blue; */
        text-decoration:none;
        list-style-type:none;
        /* color: white; */
}
.navigation ul a:hover{
        /*      background-color: red; */
        color: #6399cd;
        background-color:#EFF4FA;
        text-decoration:none;

}
.navigation ul li {
float: left;
text-decoration:none;
list-style-type:none;
}
.navigation ul li a  {
        float: none;
        text-decoration:none;
        list-style-type:none;
        padding: 5px;
        color:#ffffff;
        background-color:transparent;
        font-size:12px;
        font-weight:bold;
        /* padding:5px 8px; */
}
.navigation ul ul li {
float: none;
width: 100px;
}
.navigation ul ul li a {
background-color: #C9E0ED;
/*border-top: 1px solid yellow;*/
width: 100px;
}
.navigation ul ul li:hover {
background-color: red;  
}
ul.navigation a {
display: block;
}
ul.navigation li ul {
display: none;
position: absolute;
margin: 0px 0px 0px 0px;
}
ul.navigation li:hover ul {
display: block;
z-index: 10;    
}